In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
%matplotlib inline

In [2]:
from matplotlib import rcParams 
rcParams.update({'font.size': 18})
from matplotlib.ticker import PercentFormatter

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import regularizers
import tensorflow_probability as tfp

In [2]:
tf.__version__, tfp.__version__

('2.4.1', '0.12.1')

In [5]:
pickle_in = open("../data/oxygen.pickle", "rb")
oxygen = pickle.load(pickle_in)
oxygen.describe()

,Year,Yday,Hour,PRESSURE,TEMPERATURE_VALUE,SALINITY_VALUE,OXYGEN_VALUE
count,1.234100e+04,1.234100e+04,12341.000000,1.234100e+04,1.234100e+04,1.234100e+04,12341.000000
mean,1.274958e-14,-8.751519e-17,0.000000,8.060610e-17,-1.520001e-16,3.435202e-14,218.501794
std,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,23.150133
min,-2.035476e+00,-1.754102e+00,-0.036029,-1.421978e+00,-2.515894e+00,-3.751239e+00,109.900000
25%,-7.417802e-01,-8.565878e-01,-0.036029,-7.603727e-01,-7.337237e-01,-6.594490e-01,200.130000
50%,8.148080e-02,3.137826e-02,-0.036029,-9.876695e-02,-1.080223e-01,3.997917e-02,223.360000
75%,7.871331e-01,8.716042e-01,-0.036029,8.936417e-01,6.471345e-01,6.996671e-01,235.430000
max,1.728003e+00,1.721378e+00,27.753380,2.448415e+00,3.421796e+00,2.495926e+00,324.320000

In [3]:
%load_ext tensorboard

In [4]:
# check if there are any GPUs avaialable on Katana
if tf.test.gpu_device_name() != '/device:GPU:0':
  print('WARNING: GPU device not found.')
else:
  print('SUCCESS: Found GPU: {}'.format(tf.test.gpu_device_name()))

WARNING: GPU device not found.